<%- include('partials/header.ejs'); %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Sistema de Cadastro de Consultas</h2>
        </div>
        <div class="card-body">
                <a href="/cadastro" class="btn btn-success">Nova Consulta</a>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs'); %>